*.swp
*.bak
*.tmp
*~

.cache/
.local/share/Trash/
.local/share/recently-used.xbel
.config/microsoft-edge/Default/Cache/
.var/app/com.microsoft.Edge/config/microsoft-edge/Default/Cache/

.zsh_history
.bash_history
.ssh/
*.key
*.pem

*.log
node_modules/
dist/
